// // Footer Styles

footer {
  background-color: #556E64;
  color: white;
  padding: 3%;

  p, a {
    color: white;
    text-shadow: none;
    line-height: 1.6;
    font-size: 1.1rem;
  }

  a {
    text-decoration: none;
  }
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  // padding-bottom: 30px;
}

footer .footer {
  display: flex;
  justify-content: space-between;

  @media @phone {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

address {
  margin-bottom: 12px;
}

.copy-right {
  align-self: flex-end;

  @media @phone {
    order: 3;
    align-self: center;
  }
}

.contact-info {

  @media @phone {
    order: 2;
    padding-bottom: 15px;
  }
}

.footer .footer-right {
  width: 160px;

  @media @phone {
    order: 1;
    padding-bottom: 15px;
    
  }
}

.social {
  display: flex;
  justify-content: space-around;
}

.policy {
  display: flex;
  justify-content: space-around;
}