// Home Content
// Eralp Kor

.section-top {
  background: #A1FFCE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(119.38deg, #99DE99 0%, #258D79 100%);
  background: linear-gradient(119.38deg, #7EFF7D 0%, #258D79 100%);
  padding-top: 2%;
  padding-bottom: 5%;
}

.section-top h2 {
  color: white;
  text-align: center;
  line-height: 40px;
  padding: 40px 0;
  font-weight: 600;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  .width();
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 3%;
}

.main-content h1 {
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(36,81,33,0.63);
}

.main-content > h1, h3, p {
  color: white;
  padding-top: 20px;
  text-shadow: 1px 1px 1px rgba(36,81,33,0.63);
}

.main-content button {
  .button(@second-btn, #5B5B5B, 10px 25px, center, none, 20px, 267px);
  border: 2px solid @second-btn;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-radius: 39px;
  margin-top: 5%;
  height: 65px;
  
  &:hover {
    color: darken(#007156, 50%);
    background-color: darken(#78C885, 10%);

    .hover();
  }
}

.middle-section {
  display: flex;
  justify-content: space-around;
  max-width: 1140px;
  margin: 0 auto;
}


.about-bottom {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  .width();
  margin: 0 auto;
}

.about-bottom p {
  color: #6E6E6E;
  font-size: 1.9rem;
}

.section-bottom {
  padding-top: 7%;
  // height: 700px;
}

.section-bottom h2 {
  color: @primary;
  text-align: center;
  font-weight: 600;
  margin-bottom: -60px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1300px;
  // margin-top: -100px;
  margin: 0 auto;
  height: 450px;
}

.bottom .testimonials p{
  color:#3E3E3E;
  text-align: center;
}

.bottom .testimonials .img-right {
  align-self: flex-end;
}

.bottom .testimonials-middle {
  // padding-top: 15%;
  align-self: flex-end;
}
