// Mixins Here

.width(@width: 100%) {
  width: @width;
}

.button(@backColor: white, @color: @wild-sand, @padding: 10px 25px, @text-align: center, @decoration: none, @font-size: 20px, @width: 120px) {

  background-color: @backColor;
  color: @color;
  padding: @padding;
  text-align: @text-align;
  text-decoration: @decoration;
  font-size: @font-size;
  width: @width;
}

.buttonTransition(@webkit: 0.4s, @transition: 0.4s) {
  -webkit-transition-duration: @webkit;
  transition-duration: @transition;
}


.round-borders {
  border-radius: 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

// .border{
//   border: 2px solid @btn-bg-color;
// }

.hover(@cursor: pointer) {
  cursor: @cursor;
}

.wrap {
  color: @river-bend;
  animation-name: larger;
  animation-duration: 3s;
}

@keyframes larger {
  from {
    color: gold;
  }

  to {
    color: @crimson;
  }
}

// .button-under-strike() {
//   .navigation .tab a {
//     position: relative;
//     text-decoration: none;
//     color: @btn-login;
//     font-size: 2rem;
//     font-weight: 600;

//     &:before {
//       content: "";
//       position: absolute;
//       width: 100%;
//       height: 2px;
//       bottom: 0;
//       left: 0;
//       background-color: #000;
//       visibility: hidden;
//       -webkit-transform: scaleX(0);
//       transform: scaleX(0);
//       -webkit-transition: all 0.3s ease-in-out 0s;
//       transition: all 0.3s ease-in-out 0s;
//     }

//     &:hover:before {
//       visibility: visible;
//       -webkit-transform: scaleX(1);
//       transform: scaleX(1);
//     }
//   }
// }