// Navigation code here

@media @tablet {
  font-size: 1.3rem;
  margin-left: 10px;
}

header {
  padding: 20px 0 10px 0;
  margin-bottom: 20px;

  @media @tablet {
    padding: 0;
  }

  @media @phone {
    margin: 0 auto;
  }
}

header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  .width();
  margin: 0 auto;
  padding-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 20px;

  @media @tablet {
    max-width: 700px;
  }

  @media @phone {
    padding: 10px 0;
    display: block;
  }
}

header .navigation .tab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;

  .no-show {
    display: none;
  }

  @media @tablet{
    width: 50%;
  }

  @media @phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    
    .no-show {
      display: block;
    }

    a {
      width: 100%;
      padding: 0;
      padding-bottom: 15px;
      padding-top: 15px;
      border-top: 1px solid #0d122b;
    }
  }
}

header .navigation .logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  @media @phone {
    justify-content: center;
    width: 100%;
    height: 50px;
  }
}

.logo img {
  width: 35px;

  @media @tablet {
    width: 25px;
  }

  @media @phone {
    width: 20px;
  }
}

.logo img {
  margin-right: 10px;
}

.logo {
  h1 {
    font-size: 3.6rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: @primary;

    @media @tablet {
      font-size: 2rem;
    }
  }
}

header .navigation .tab a,
button {
  font-family: "Source Sans Pro";
}


.navigation>.tab>a {
  .button-under-strike();
  font-size: 1.7rem;
}

header .navigation .tab button {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-weight: 600;

  @media @phone {
    display: none;
  }
}

.log-in {
  .button(white, @btn-login, 5px, center, none, 20px);
  border: 2px solid @btn-login;

  &:hover {
    color: lighten(@btn-login, 70%);
    background-color: darken(@btn-login, 5%);

    .hover();
  }

  @media @tablet {
    .button(white, @btn-login, 5px, center, none, 10px);
    border: 1px solid @btn-login;
    width: 75px;
    font-size: 15px;
  }
}

.sign-up {
  .button(@btn-signup, white, 5px, center, none, 20px);
  border: 2px solid @btn-signup;
  text-transform: uppercase;

  &:hover {
    color: darken(@btn-signup, 5%);
    background-color: lighten(@btn-signup, 40%);

    .hover();
  }

  @media @tablet {
    .button(@btn-signup, white, 5px, center, none, 10px);
    border: 1px solid @btn-signup;
    width: 75px;
    font-size: 15px;
  }
}
